.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

.loader-video {
  width: 200px; /* Adjust the size of the video */
  height: 200px; /* Adjust the size of the video */
  object-fit: contain; /* Ensure proper scaling */
}
